<footer class="footer flex">
    <div id="spring-links flex">
        <p class="smallest antialiased has-gray-text">Copyright © 2024 - <script>var d = new Date(); document.write(d.getFullYear());</script> Redis Inc.</p>
    </div>
</footer>
